<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key='maxHttpRequestsPerSource' value='5' />
		<add key="allowInsecureConnections" value="true" />
		
	</config>
	<packageSources>
		<clear /><add key="xanis-group"    value="http://nexus.xaniis.local/repository/nuget-group/index.json" allowInsecureConnections="true"/>
		<add key="xanis-host"        value="http://nexus.xaniis.local/repository/nuget-hosted/index.json" allowInsecureConnections="true" />
		  <!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /> -->
		

  
  </packageSources>
	<packageSourceCredentials>
		<xanis-group>
			<add key='Username' value='cicd' />
			<add key='cleartextpassword' value='6yqyxMkALAwuI9Kp3WV6CvuLRcuj5I0ITpkgiG' />
		</xanis-group>
		<xanis-proxy>
			<add key="Username" value="a.taghavi" />
			<add key="ClearTextPassword" value="4uF4e5ClsX4e" />
		</xanis-proxy>
		<xanis-host>
			<add key="Username" value="a.taghavi" />
			<add key="ClearTextPassword" value="4uF4e5ClsX4e" />
		</xanis-host>
	</packageSourceCredentials>
</configuration>
